registry=https://registry.npmmirror.com/
#registry=https://registry.npmjs.org/

fse_binary_host_mirror=https://registry.npmmirror.com/binary.html?path=fsevents/
nodejieba_binary_host_mirror=https://registry.npmmirror.com/binary.html?path=nodejieba/
phantomjs_cdnurl=https://npmmirror.com/mirrors/phantomjs
sass_binary_site=https://registry.npmmirror.com/binary.html?path=node-sass/
